@use '../variables' as *;
@use '../utilities/mixins' as *;

body {
}

#app {
  max-width: $app-max-width;
  margin: $app-margin;
  padding: $app-padding;
  text-align: center;
}

// Skip link for accessibility
.skip-link {
  @include skip-link;
}