$border-radius: 8px;
$body-margin: 0;
$body-min-width: 320px;
$body-min-height: 100vh;
$button-padding: 0.6em 1.2em;
$card-padding: 2em;
$app-max-width: 1280px;
$app-margin: 0 auto;
$app-padding: 2rem;
$logo-size: 6em;
$logo-padding: 1.5em;
$transition-speed: 0.25s;